<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Hospital Data</title>
    <link rel="stylesheet" href="/styles/5-addData.css">
</head>
<body>
<header>
    <div class="header-container">
        <div class="logo">
            <img src="/images/CCT-logo-no-background-1024x197.webp" alt="">
        </div>
    </div>
</header>
<div class="form-container">

<!-- THHIS USES THE rediect: -->


    <div th:if="${param.success}">
        <div class="success-message">
            <p>Hospital data added successfully</p>
        </div>
    </div>
    
    <div th:if="${param.failure}">
        <div class="failure-message">
            <p>Hospital data insertion failed. Please try again.</p>
        </div>
    </div>
     
         
    <h1>Add Hospital Data</h1>

    <!-- Form to add hospital data to database -->
    <form th:action="@{/addData}" method="post" th:object="${hospitalData}">
        <label for="year">Year:</label>
        <input type="number" id="year" th:field="*{year}">
        <div th:if="${#fields.hasErrors('year')}" th:errors="*{year}"></div>
        
        
        <label for="county">County:</label>
        <input type="text" id="county" th:field="*{county}">
         <span th:if="${#fields.hasErrors('county')}" th:errors="*{county}"></span>
         
         
        <label for="hospital">Hospital:</label>
        <input type="text" id="hospital" th:field="*{hospital}">
         <span th:if="${#fields.hasErrors('hospital')}" th:errors="*{hospital}"></span>
         
        <label for="surgery">Surgery:</label>
        <input type="text" id="surgery" th:field="*{surgery}">
         <span th:if="${#fields.hasErrors('surgery')}" th:errors="*{surgery}"></span>
         
        <label for="cases">Cases:</label>
        <input type="number" id="cases" th:field="*{cases}">
         <span th:if="${#fields.hasErrors('cases')}" th:errors="*{cases}"></span>
         
        <button type="submit">Add Hospital Data</button>
    </form>
</div>
</body>
</html>
