<!DOCTYPE html>
<html lang="en"
   xmlns:th="http://www.thymeleaf.org"
   >
   <head>
      <meta charset="UTF-8">
      <title>Dashboard</title>
      <link rel="stylesheet" href="/styles/4-dashboard.css">
      <!--  HEADER WITH USER first name returned  -->
      
       <script th:src="@{/js/dahsboardScript.js}" defer></script>
       
       
   </head>
   <body>
      <div class="header-container">
         <div class="logo">
            <img src="/images/CCT-logo-no-background-1024x197.webp" alt="">
         </div>
         <div class="welcome-message-container">
            <h1 class="welcome-message">Welcome to the Dashboard</h1>
            <h2 th:text="${userdetail.firstname}" class="dashboard-user-name"></h2>
         </div>
         <div class="button-container">
            <span sec:authorize="isAuthenticated">
            <a th:href="@{/logout}" class="logout button">Logout</a>
            </span>
         </div>
      </div>
      <!--HOSPITAL DATA TABLE  -->
      <div class="table-container">
         <h1 class="table-title">Hospital Data List</h1>
         <div class="scrollable-table">
            <table>
               <thead>
                  <tr>
                     <th>ID</th>
                     <th>Year</th>
                     <th>County</th>
                     <th>Hospital</th>
                     <th>Surgery</th>
                     <th>Cases</th>
                     <th>Actions</th>
                  </tr>
               </thead>
               
               <tbody class="table-body">
                  <tr>
                      <td>003</td>
                      <td>1993</td>
                      <td>SP-brffffffffasil</td>
                      <td>Campo Lnnnnnnnn impo</td>
                      <td>Neck-sufffgfffffffffffery</td>
                      <td>3</td>
                      <td>
                          <a href="/hospitaldata/edit/1" class="edit button">Edit</a> 
                          <a href="/hospitaldata/delete/1" class="delete button" onclick="return confirm('Are you sure?')">Delete</a>
                      </td>
                  </tr>
                  <!-- Repeat the above row for each hospitalData in hospitalDataList -->
              </tbody>
              
            </table>
         </div>
         <div class="border-bottom"></div>
         
          <!-- add data redirects to add data HTML file -->
         <a th:href="@{/addData}" class="add button">Add Data</a>
        
      </div>
      <!-- Hyperlink button to navigate to "welcome.html" -->
      <!-- Hyperlink button to navigate to "welcome.html" using Thymeleaf syntax 
         <a th:href="@{/welcome}" class="add-hospital-data btn">Add Hospital data</a>
                     -->
     
   </body>
</html>
