<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Hospital Data</title>
</head>


<body>
    <h1>Edit Hospital Data</h1>
    <form th:action="@{/hospitaldata/edit}" th:object="${hospitalData}" method="post">
        <input type="hidden" th:field="*{id}" />
        <label>Year: <input type="number" th:field="*{year}" /></label><br/>
        <label>County: <input type="text" th:field="*{county}" /></label><br/>
        <label>Hospital: <input type="text" th:field="*{hospital}" /></label><br/>
        <label>Surgery: <input type="text" th:field="*{surgery}" /></label><br/>
        <label>Cases: <input type="number" th:field="*{cases}" /></label><br/>
        <button type="submit">Save</button>
    </form>
    <a th:href="@{/home}">Cancel</a>
</body>
</html>
