<!DOCTYPE html>
<html lang="en"
   xmlns:th="http://www.thymeleaf.org"
   >
   <head>
      <meta charset="UTF-8">
      <title>Login</title>
      <link rel="stylesheet" href="/styles/3-login.css">
   </head>
   <body>
      <header>
         <div class="header-container">
            <div class="logo">
               <img src="/images/CCT-logo-no-background-1024x197.webp" alt="">
            </div>
         </div>
      </header>
      <div class="container">
         <div class="form-container">
            <div th:if="${param.error}">
               <div class="error-message">
                  <p>Invalid Username or Password</p>
               </div>
            </div>
            <div th:if="${param.logout}">
               <div class="logout-message">
                  <p>Logout Successful!</p>
               </div>
            </div>
            
            <h2>Login</h2>
            
            <form th:action="@{/login}" method="post" role="form" th:object="${user}">
               <label for="username">Username | email:</label>
               
               <input th:field="*{username}" type="text" id="username" name="username" placeholder="Enter your Username or email" required>
               
               <label for="password">Password:</label>
               <input th:field="*{password}" type="password" id="password" name="password" placeholder="************" required>
               
               <button type="submit">Login</button>
            </form>
            <p class="form-footer">Don't have an account?<a th:href="@{/registerGet}"> Register here.</p>
         </div>
      </div>
      
      <!--back section button
      
      It maps the (/) set in the CONTROLLER to redirect to home page(landing page)
      -->
      <a class="button back-button" th:href="@{/}">Back to Home page</a>
   </body>
</html>
