<!DOCTYPE html>
<html lang="en"
   xmlns:th="http://www.thymeleaf.org"
   >
   <head>
      <meta charset="UTF-8">
      <title>Registration</title>
      <link rel="stylesheet" href="/styles/2-register.css">
   </head>
   <!-- HEADER-->
   <body>
      <header>
         <div class="header-container">
            <div class="logo">
               <img src="/images/CCT-logo-no-background-1024x197.webp" alt="">
            </div>
         </div>
      </header>
      <!-- FORM CONTAINER-->
      <div class="form-container">
         <div th:if="${param.success}">
            
            <div class="success-message">
               <p>Registration Successful</p>
            </div>
            
         </div>
         <h2>Registration</h2>
         <form th:action="@{/registerPost}" method="post" role="form" th:object="${user}">
            <label for="firstName">First Name:</label>
            <input th:field="*{firstName}" type="text" id="firstName" name="firstName" placeholder="Enter your first name"
               required>
            <label for="lastName">Last Name:</label>
            <input th:field="*{lastName}" type="text" id="lastName" name="lastName" placeholder="Enter your last name"
               required>
            <label for="username">Enter you Email:</label>
            <input th:field="*{username}" type="text" id="username" name="username" placeholder="Enter your email"
               required>
            <label for="password">Password:</label>
            <input th:field="*{password}" type="password" id="password" name="password"
               placeholder="************" required>
            <button type="submit">Register</button>
         </form>
         <div>
            <span th:if="${Userexist}" style="color: red;">Username is Taken</span>
         </div>
         <div>
            <p class="form-footer">
               Already have an account? 
               <a th:href="@{/login}">
                  Login here.
            </p>
         </div>
      </div>
      <!--back section button-->
      <a class="button back-button" th:href="@{/}">Back to Home page</a>
      <!--
         TESTING BUTTON FOR STYLING ONLY... IT MUST BE REMOVED LATER ON...
         -->
      <a href="/html/3-login.html">Login
   </body>
</html>
