/*********************      KEY FRAMES       **************************/

/*--- TYPING ---*/
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/*--- EASY OUT ---*/
@keyframes easeOut {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*--- REVEAL WIDTH (parallelogram) --- */
@keyframes revealWidthHome {
  0% {
    width: 0%;
  }
  100% {
    width: 70%;
  }
}

@keyframes revealFullName {
  0% {
    width: 0%;
  }
  100% {
    width: 300px;
  }
}

/*--- MOVE UP and DOWN --- */
@keyframes moveUpDown {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  } /* Changed to translateY */
}

@keyframes moveLeftRight {
  0%,
  100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-15px);
  } /* Changed to translateY */
}
/*--- FADE IN --- */
@keyframes fadeInLeft {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*--- PULSE --- */
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

/*--- SPINNING --- */
@keyframes spinning3d {
  from {
    transform: rotateY(deg);
  }
  to {
    transform: rotateY(400deg);
  }
}

/* --- RESET --- */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; /* Added */
  list-style: none;
}

/* --- GLOBAL --- */
a,
.button,
.box,
.logo,
button {
  font-family: "Sansation", sans-serif;
  font-weight: 300;
  cursor: pointer;
  text-decoration: none;
}

section {
  min-height: 100vh;
  width: 100%;
  padding: 5% 9%;
  box-sizing: border-box; /* Added */
  overflow-x: hidden; /* Added */
}

.section-title {
  margin-bottom: 5px;
  color: var(--textColor);
  font-size: 30px;
}

.border-bottom {
  border-radius: 5px;
  margin-top: 1rem;
  border-bottom: 2px solid var(--backgroundColor);
  width: 300px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.7);
}

.section-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/*---------  TRANSITIONING  ------------*/
i,
a:hover,
.button,
button {
  transition: all 300ms ease-out;
  border-radius: 5px;
}

/*---  COLORS  ---*/
:root {
  --primary: #053249;
  --backgroundColor: #ece5e5;
  --borderRadius: 5px;
  --textColor: rgb(70, 69, 69);
  --btnColor: #0852a1;
  --btnFontSize: 15px;
  --borderBottom: rgb(207, 207, 204);
  --headerColor: #f3eeee;
}

html {
  scroll-behavior: smooth;
}

/*------ njn ------*/

/*********************      HOME PAGE HTML       **************************/
body {
  font-family: "Poppins", sans-serif;
  background-color: var(--backgroundColor);
  margin: 0;
  padding: 0;
}

/* --- HEADER ---*/
.header-container {
  display: flex; /* Use flexbox */
  justify-content: space-between;
  align-items: center; /* Vertically center items */
  background-color: var(--headerColor);
  box-shadow: 0px 0px 10px var(--textColor);
  height: 100px;
  padding: 30px 5%;
}

.header-container .logo img {
  width: 150px; /* Ensure logo image doesn't exceed container width */
}

/*ADD DATA FORM*/

/*----------- FORM ------------*/
.form-container {
  border-radius: var(--borderRadius);
  width: 400px;
  height: auto;
  margin: 40px auto;
  padding: 10px;
  box-shadow: 2px 2px 10px var(--textColor);
}

.form-container h1 {
  color: var(--textColor);
  text-align: center;
  padding: 15px;
  font-size: 20px;
}

label {
  display: block;
  margin-bottom: 10px;
  color: var(--btnColor);
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input:focus {
  outline: none;
  border-bottom: 1.5px solid var(--btnColor);
  outline: none;
}

input[type="text"] {
  font-size: 12px;
  letter-spacing: 0.5px;
}

button {
  width: 100%;
  color: var(--btnColor);
  padding: 10px 20px;
  border: 1px solid var(--btnColor);
  border-radius: 4px;
  font-weight: bold;
  background-color: transparent;
}

button:hover,
button:focus {
  color: var(--btnColor);
  background-color: var(--btnColor);
  color: white;
  box-shadow: 2px 2px 10px var(--btnColor);
  border: none;
  outline: none;
}

.form-footer {
  text-align: center;
  margin-top: 20px;
  color: #888;
}

.form-footer a:hover {
  color: var(--btnColor);
  cursor: pointer;
}

/*BACK BUTTON*/
.back-button {
  position: absolute;
  bottom: 30px;
  right: 100px;
  color: var(--backgroundColor);
  color: var(--btnColor);
  font-size: var(--btnFontSize);
  padding: 8px 15px;
  border-radius: 5px;
  font-weight: lighter;
  color: var(--btnColor);
}

.back-button:hover,
.back-button:focus {
  color: var(--btnColor);
  background-color: var(--btnColor);
  color: white;
  box-shadow: 2px 2px 10px var(--btnColor);
  border: none;
  outline: none;
}
